@charset "UTF-8";

 /* PALETA DE CORES

    verde escuro: #0D2E00
    verde um pouco mais claro: #205800

*/ 

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background: linear-gradient(45deg, rgb(7, 82, 0), #030700, #012200);
    background-size: 300%, 300%;
    animation: colors 7s ease infinite;
    height: 100vh;
    width: 100vw;
}
@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.423);

    transition: width 0.5, height 0.5s;

}

section#login > div#imagem {
    display: block;
    background: #205800 url(../imagens/tucano.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}