@charset "UTF-8";

 /* PALETA DE CORES

    verde escuro: #0D2E00
    verde um pouco mais claro: #205800

*/ 

* {
    font-family: 'Roboto Condensed', sans-serif; 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background: linear-gradient(45deg, rgb(7, 82, 0), #030700, #012200);
    background-size: 300%, 300%;
    animation: colors 7s ease infinite;
    height: 100vh;
    width: 100vw;
}
@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(242, 255, 244);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.423);

    transition: width 0.5, height 0.5s;

}

section#login > div#imagem {
    display: block;
    background: #205800 url(../imagens/tucano.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: rgb(0, 84, 0);
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
    color: white;
}

div.campo > span {
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1em;
    width: calc(100% - 19%);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 9px; 
    transform: translatey(-11px);



}


div#formulario > p {
    margin: 20px 0px;
}

form > [type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    
    background-color: #012200;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #000000;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 7px;
    background-color: #012200;
    color: white;
    border: 1px solid #012200;
    border-radius: 5px;
    text-decoration: none;



}

form > a.botao:hover {
    background-color: #000000;
}